<!--
 Title: about.components.html
 Author: Professor Krasso
 Date: 07/24/2022
 Modified By: Allan Trejo
 Description: Assignment 9.2 Capstone Loan App
  Resources: Material Design https://material.angular.io/components
-->
<mat-card>
  <mat-card-title id="about-title">About Us <mat-icon>explore</mat-icon>
  </mat-card-title>
  <mat-card-subtitle id="about-subtitle">Welcome to <span>House Slytherin</span> Financing
    <br>
    Home of the Best Loan Calculator
  </mat-card-subtitle>

  <div class="image-container">
    <img mat-card-image src="./assets/slytherin.jpg" alt="Photo of a Shiba Inu">
  </div>
  <div class="mid-section">
    <mat-card-subtitle>
      House Slytherin Has dedicated all its Magical Might to produce the one of a kind Loan Calculator App. The Idea
      came
      about when Wizards
      needed a way to maintain Financial responsibility while paying their debts to the great one. Pre Harry Potter,
      house
      slytherin was on the cutting
      edge of Magical Discoveries leading the way as usual in the dark arts and self defense. Staying true to our
      selves , the Loan App
      Guards against High interest rates and outrageous Monthly payments. House Slytherin Wizards are More cunning than
      the
      average
      wizard hence you will
      find this app will suite you.
    </mat-card-subtitle>
    <mat-card-subtitle>
      We Designed this App using the Darkest Secrets that only a Slytherin could harness. After sealing the magical app
      with horcruxes, this app
      will always be up and running for you. This means that no Hackers, no Power outage, no infrastructure Issues can
      bring this app down!

    </mat-card-subtitle>
    <h2 style="text-align: center;">Testimonials</h2>
    <mat-grid-list cols="2" rowHeight="1.1:1">
      <mat-grid-tile>
        <mat-card class="mid-card mat-elevation-z0">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Lord Voldemort</mat-card-title>
            <mat-card-subtitle>He-Who-Must-Not-Be-Named</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="./assets/Lordvoldemort.jpg" alt="Voldemort">
          <mat-card-content>
            <p>
              "Surely you didn’t think I was going to use another Loan Calculator App? No. I ordered myself this
              one, a calculator I knew wizards everywhere would one day fear to not use, when I became the greatest
              sorcerer in
              the world!"
            </p>
          </mat-card-content>
          <mat-card-actions>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="mid-card mat-elevation-z0">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Severus Snape</mat-card-title>
            <mat-card-subtitle>Avada Kedavra</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="./assets/snape.jpg" alt="Severus">
          <mat-card-content>
            <p>
              “That is the second time you have navigated away from the Calculator? tisk tisk . . . Five more points
              from Gryffindor for being an insufferable.”
            </p>
          </mat-card-content>
          <mat-card-actions>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>


    </mat-grid-list>
  </div>
