<!--
 Title: calculator.components.html
 Author: Professor Krasso
 Date: 07/24/2022
 Modified By: Allan Trejo
 Description: Assignment 9.2 Capstone Loan App
  Resources: Material Design https://material.angular.io/components
-->
<mat-card>
  <div fxLayout="row wrap ">
    <!-- Column 1, Mat Form -->
    <div fxFlex>
      <mat-card class="mat-elevation-z0">
        <mat-card-title class="calculator-title"> Loan App Calculator</mat-card-title>
        <br>
        <mat-card-subtitle>
          This loan calculator will help you determine the monthly payments on a loan. Simply enter the loan amount,
          term and interest rate in the fields below and click calculate.
        </mat-card-subtitle>
        <mat-card-content fxLayout="column"> <br><br>
          <form fxLayout="column" [formGroup]="loanFormCalculator" fxLayoutGap="36px" (ngSubmit)="onSubmit();">
            <mat-form-field appearance="legacy">
              <mat-label>Loan Amount</mat-label>
              <input matInput placeholder="e.x. 10,000" formControlName="loanAmount">
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Interest Rate</mat-label>
              <input matInput placeholder="e.x. 3.5" formControlName="interestRate">
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Number of Years</mat-label>
              <input matInput placeholder="e.x. 4" formControlName="numOfYears">
            </mat-form-field>
            <div fxLayoutAlign="end start">
              <button style="width: 30%" mat-raised-button color="primary">Calculate</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Column 2 for payment component -->
    <div fxFlex>
      <mat-card class="mat-elevation-z0">
        <!-- pass down data using @input -->
        <app-payments [monthlyPayment]="monthlyPayment" [interestPaid]="interestPaid"></app-payments>
      </mat-card>
    </div>
  </div>
</mat-card>
