/*
 Title: payments.components.scss
 Author: Professor Krasso
 Date: 07/24/2022
 Modified By: Allan Trejo
 Description: Assignment 9.2 Capstone Loan App
  Resources: Material Design https://material.angular.io/components
*/
.payment-card {
  text-align: center !important;
  border-left: 2px solid green;
  min-height: 65vh;
  border-radius: 0;
}
.payment-sub {
  padding: 4rem 0rem 1rem;
}
.payment-content {
  font-size: 48px;

  font-family: "Rakkas", cursive;
  span {
    font-size: 30px;
  }
}
